{{! views/chapter.hbs }}
<div class='chapter-container'>
	<nav class='chapter-nav story-action'>
			<a href='/read?storyId={{storyId}}&url={{prevChapterUrl}}' class='nav-button prev'>
				<button {{#ifeq prevChapterUrl null}}disabled{{/ifeq}}>
					&larr; Chương Trước
				</button>
			</a>

		<a href='/story/{{storyId}}' class='nav-button home'>
            <button>
			    Mục Lục
            </button>
		</a>

			<a href='/read?storyId={{storyId}}&url={{nextChapterUrl}}' class='nav-button next'>
                <button {{#ifeq nextChapterUrl null}}disabled{{/ifeq}}>
				    Chương Sau &rarr;
                </button>
			</a>
	</nav>

    <hr />

	<div class='chapter-header'>
		<h2>{{volumeTitle}}</h2>
		<h4>{{chapterTitle}}</h4>
	</div>

	<div id='chapter-content'>
		{{! DÙNG 3 DẤU NGOẶC NHỌN ĐỂ RENDER HTML }}
		{{{contentHtml}}}
	</div>

	<nav class='chapter-nav story-action'>
			<a href='/read?storyId={{storyId}}&url={{prevChapterUrl}}' class='nav-button prev'>
				<button {{#ifeq prevChapterUrl null}}disabled{{/ifeq}}>
					&larr; Chương Trước
				</button>
			</a>

		<a href='/story/{{storyId}}' class='nav-button home'>
            <button>
			    Mục Lục
            </button>
		</a>

			<a href='/read?storyId={{storyId}}&url={{nextChapterUrl}}' class='nav-button next'>
                <button {{#ifeq nextChapterUrl null}}disabled{{/ifeq}}>
				    Chương Sau &rarr;
                </button>
			</a>
	</nav>
</div>
